body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --first: rgb(161, 179, 166);
  --gradient: linear-gradient(
    266deg,
    rgba(1, 49, 46, 1) 21%,
    rgba(68, 159, 140, 1) 78%
  );
  --shadow: rgb(85, 85, 108);
  --white: rgb(230, 236, 233);
  --green: rgba(1, 49, 46, 1);
  --light: rgba(68, 159, 140, 1);
}
header {
  position: relative;
  background: var(--gradient);
  height: 4rem;
  box-shadow: 0px 7px 15px var(--shadow);
}
.header h1 {
  position: absolute;
  left: 2%;
  top: 20%;
}
.navigation {
  position: absolute;
  display: inline-block;
  height: 40px;
  right: 20px;
  top: 33%;
}
.navigation a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  padding: 5px;
}
.navigation a:hover {
  text-decoration: overline var(--white);
  /* line-height: 25px; */
  /* padding: 10px; */
  transition: 30ms ease;
}
body {
  background-color: var(--first);
}
.form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border: 5px solid var(--green);
}
label {
  display: block;
  padding: 1rem 0 0.5rem;
  font-size: 20px;
}
input {
  display: block;
  width: 100%;
  border: 2px solid var(--shadow);
  font-size: 20px;
  border-radius: 5px;
}
.btn {
  padding: 1.2em;
  border-radius: 25px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  margin: 1em 0;
  width: auto;
  text-transform: uppercase;
}
.btn:hover {
  background-color: var(--shadow);
  cursor: pointer;
}
